@font-face { font-family: "Thunder"; src: url("fonts/THUNDER/Fonts/OpenType-PS/Thunder-BlackLC.otf"); }


/* Schriften */
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


h1 {
  font-family: 'Thunder';
  font-size: 30vw;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
}

h2 {
  font-family: 'Thunder';
  font-size: 10vw;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  color: black;
}

/* Startscreen */

.graffiti-startcontainer {
  position: relative;
}

.graffiti-startcontainer img {
  width: 100%;
  height: auto;
}

.graffiti-text-block {
  color: white;
}

.graffiti-text-block h1 {
  left: 180px;
  bottom: 50px;
  -webkit-text-stroke: 4px black;
}

.graffiti-text-block h2 {
  left: 60px;
  bottom: 525px;
}

.graffiti-dose {
  width: 900px;
  position: absolute;
  top: 100px;
  right: 25px;
  transform: rotate(6deg);
}

.graffiti-paint {
  position: absolute;
  width: 600px;
  top: 25px;
  right: 290px;
}

h3 {
  font-family: Domine;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

h4 {
  font-family: Domine;
  font-size: 18px;
  line-height: 1.5;
}

.graffiti-text1 {
}

.graffiti-junior {
  width: 50%;
  margin: 100px 0px 0px 200px;
}

.graffiti-arbeitsleben {
  width: 50%;
  margin: 100px 0px 0px 300px;
}

.graffiti-einstieg-in-die-kunst {
  width: 50%;
  margin: 100px 0px 0px 200px;
}

.graffiti-sprayer-szene {
  width: 50%;
  margin: 100px 0px 0px 300px;
}

.graffiti-erlebnisse {
  width: 50%;
  margin: 100px 0px 0px 200px;
}

.graffiti-polizei {
  width: 50%;
  margin: 100px 0px 0px 300px;
}

/* Zuege */

.graffiti-zuege {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.graffiti-zuege img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.graffiti-zuege h1 {
  top: 200px;
}

.graffiti-zuege-text {
  width: 50%;
  top: -100px;
  background-color: Black;
  color: white;
  padding: 0px 800px 300px 300px;
}

.graffiti-zuege-image {
  width: 100%;
  height: auto;
}

.graffiti-zuege-image img {
  position: absolute;
  width: 100%;
  height: auto;
}

.graffiti-story {
  width: 30%;
  left: 300px;
  padding-top: 550px;
  color: white;
  position: absolute;
  font-weight: 1;
}

/* Gallery */

.graffiti-gallery {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 300px));
}

.graffiti-gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
