@font-face { font-family: "Thunder"; src: url("fonts/THUNDER/Fonts/OpenType-PS/Thunder-BlackLC.otf"); }


/* Schriften */
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
}

h1 {
  font-family: 'Thunder';
  font-size: 30em;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
}

h2 {
  font-family: 'Thunder';
  font-size: 10vw;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  color: black;
}

h3 {
  font-family: Domine;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

h4 {
  font-family: Domine;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}

/* Startscreen */

section.graffiti-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

section.graffiti-parallax {
  height: 110vh;
}

section.graffiti-image img {
  max-width: auto;
  height: 100%;
  position: absolute;
}

p.graffiti-trains-parallax {
  position: absolute;
  z-index: 1;
  font-family: 'Thunder';
  font-size: 30em;
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  color: #000000;
}

section.graffiti-parallax2 {
  height: 110vh;
}

.graffiti-text-block {
  color: white;
}

.graffiti-text-block h1 {
  left: 300px;
  bottom: 50px;
  -webkit-text-stroke: 4px black;
}

.graffiti-text-block h2 {
  left: 200px;
  bottom: 525px;
}

.graffiti-dose {
  width: 900px;
  position: absolute;
  top: 100px;
  right: 25px;
  transform: rotate(6deg);
}

.graffiti-paint {
  position: absolute;
  width: 600px;
  top: 25px;
  right: 290px;
}

.graffiti-text1 {
}

.graffiti-junior {
  width: 50%;
  margin: 200px 0px 0px 200px;
}

.graffiti-arbeitsleben {
  width: 50%;
  margin: 100px 0px 0px 300px;
}

.graffiti-einstieg-in-die-kunst {
  width: 50%;
  margin: 100px 0px 0px 200px;
}

.graffiti-sprayer-szene {
  width: 50%;
  margin: 100px 0px 0px 300px;
}

.graffiti-erlebnisse {
  width: 50%;
  margin: 100px 0px 0px 200px;
}

.graffiti-polizei {
  width: 50%;
  margin: 100px 0px 0px 300px;
  padding-bottom: 200px;
}

/* Zuege Parallax */

.graffiti-zuege {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.graffiti-zuege img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;

}

#zuegetext {
  position: relative;
  color: black;
  font-size: 20em;
  bottom: 100px;
}

/* Zuege */

.graffiti-zuege-text {
  width: 50%;
  background-color: Black;
  color: white;
  top: 0px;
  margin-top: -100px;
  padding: 100px 800px 200px 200px;

}

.graffiti-zuege-image {
  width: 100%;
  height: 100vh;
  background: black;
}

.graffiti-zuege-image img {
  position: absolute;
  width: 100%;
  height: auto;
  background-size: cover;
  over
}

.graffiti-story {
  width: 50%;
  left: 300px;
  padding-top: 600px;
  color: white;
  position: relative;
}

.graffiti-story h4 {
text-shadow: 2px 2px 7px black;
}

/* Gallery */

.graffiti-gallery {
  background-color: black;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 250px 0px 250px 0px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px, 500px));
  column-gap: 10px;
  row-gap: 10px;
}

.graffiti-gallery img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.graffiti-box img {
  width: 500px;
  height: 500px;
  transition: 0.7s;

}

img.graffiti-hover-img {
  position: relative;
  left: 0;
  opacity: 0;
}

.graffiti-box:hover img {
  opacity: 0;
}

.graffiti-box:hover img.graffiti-hover-img {
  opacity: 1;
}

/* Graffiti Text 2 */

.graffiti-bekenntnis-zu-ungehorsamkeit {
  width: 50%;
  margin: 200px 0px 0px 200px;
}

.graffiti-dauer-eines-werkes {
  width: 50%;
  margin: 100px 0px 0px 300px;
}

.graffiti-message-oder-ästhetik {
  width: 50%;
  margin: 100px 0px 200px 200px;
}

/* Bild Charakteristische Veränderungen */

.graffiti-zuege-image2 img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.graffiti-characteristische-veraenderung {
  width: 40%;
  left: 300px;
  color: white;
  padding-top: 800px;
  position: relative;
  text-shadow: 2px 2px 5px black;
}

/* Graffiti Text 3 */

.graffiti-das-moechte-ich-noch-tun {
  width: 50%;
  margin: 500px 0px 0px 200px;
}

.graffiti-ungehorsam-im-alltag {
  width: 50%;
  margin: 100px 0px 200px 300px;
}
